body{
    background-color: rgb(215, 247, 247);
}
nav {
    height: 50px;
    background-color: rgb(8, 137, 160);
    padding: 0 10px;
    font-size: 35px;
    color: white;
}
.nav-title {
    font-style: italic; 
    font-weight: bold;
    font-size: 30px; 
}


nav button {
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: left;
}

/* College Logo Centering */
.clgLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Department Name Styling */
.branchName {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 40px;
    background-color: brown;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(5, 101, 133);
    overflow-x: hidden;
    transition: 0.3s ease;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.studentCard1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.studentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
